body{
    height:100vh;
}

#main{
    background-color: salmon;
height:95%;
display:grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 5fr;
grid-template-areas: 
"Title"
"GameWrapper";
justify-items:center;

}

#title{
grid-area: Title;
background-color: greenyellow;
}


#gameContainer{
    grid-area: GameWrapper;
}

#game{
    width:700px;
    height:700px;
    border-radius:50%;
    border:5px solid gray;
    background-color:lime;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "a1 a2 a3"
    "b1 b2 b3"
    "c1 c2 c3";
}

#console{
    grid-area: b2;
    background-color:lime;
    width:150%;
    height:150%;
    align-self:center;
    justify-self:center;
    border-radius:50%;
    display: grid;
    justify-items:center;
    align-items:center;
    z-index:3;
}
.gameButton{
    filter:brightness(80%);
}
#redButton{
    grid-area:1/1/3/3;
    background-color:red;
    margin:20px;
    width:69%;
    height:69%;
    border-top-left-radius: 100%; 
    align-self:start;
    justify-self:start;
}



#blueButton{
    grid-area:1/2/3/4;
    background-color:blue;
    margin:20px;
    width:69%;
    height:69%;
    border-top-right-radius: 100%; 
    align-self:start;
    justify-self:end;
}

#yellowButton{
    grid-area:2/1/4/3;
    background-color:yellow;
    margin:20px;
    width:69%;
    height:69%;
    border-bottom-left-radius: 100%; 
    align-self:end;
    justify-self:start;
}

#greenButton{
    grid-area:2/2/4/4;
    background-color:green;
    margin:20px;
    width:69%;
    height:69%;
    border-bottom-right-radius: 100%; 
    align-self:end;
    justify-self:end;
}